
 
img[src="logo.png"] {


   position: relative;
   margin-left: 0x;
   top: -110px;
   display: inline-block;
  
}

img.logo, h1{ 
display: inline-block;
 .h1: positon: relative;
    margin left: 30px;
    top: -120px;

 
}
  


p3 { text-align: justify}

img[src="banner.jpg"] {

    position: relative;
    top: 360px;
} 

h1{position: relative;
    margin-left: 30px;
    top: -150px;

 
}

img[src="relogio.png"]{
      position: relative;
      top: -130px;
}

header{
background-color: